---
import type { Translations } from '../i18n/fr';
type Props = { translations: Translations };
const { translations } = Astro.props as Props;
---
<header class="sticky top-0 z-50 bg-white border-b border-stroke-default w-full">
  <div class="container mx-auto flex items-center justify-between">
    <div class="flex items-center justify-center gap-2 px-6 py-6 w-[200px]">
      <a href="#top" class="font-title font-bold text-base text-primary">
        {translations.site.title}
      </a>
    </div>
    <nav class="flex items-center gap-12 cursor-pointer">
      <a href="#projects" class="text-base text-primary-light hover:text-accent transition-colors font-medium font-body">
        {translations.nav.projects}
      </a>
      <a href="#collective" class="text-base text-primary-light hover:text-accent transition-colors font-medium font-body">
        {translations.nav.collective}
      </a>
      <a href="#contact" class="text-base text-primary-light hover:text-accent transition-colors font-medium font-body">
        {translations.nav.contact}
      </a>
    </nav>
  </div>
</header>


