---
import '../styles/global.css';

type Props = {
  title: string;
  lang: string;
  description?: string;
};

const { title, lang, description } = Astro.props as Props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    {description && <meta name="description" content={description} />}
    <link
      rel="preconnect"
      href="https://api.fontshare.com"
      crossorigin="anonymous"
    />
    <link
      rel="preconnect"
      href="https://cdn.fontshare.com"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://api.fontshare.com/v2/css?f[]=general-sans@400,500,700&f[]=synonym@400,500,600,700&display=block"
    />
    <title>{title}</title>
  </head>
  <body id="top">
    <slot />
  </body>
</html>
